@page
@model eSportSchool.Pages.Party.SportTeamsPage
@{
    Layout = "_Edit";
}

<body> 
    <input type="hidden" asp-for="Item.Id"/>   
    <input type="hidden" asp-for="Item.Token" />
    <partial name="_EditSportTeam"/>
</body>
