@page
@model IndexModel
@{
    ViewData["Name"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to eSportSchool</h1>
    <body>
    <img alt="eSportSchool_img" src="https://images.pexels.com/photos/104675/pexels-photo-104675.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" height= "750" width ="1260">
     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </body>
</div>
