@page
@model eSportSchool.Pages.Party.TrainerSportTeamsPage
@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Item.Id"/>   
    <input type="hidden" asp-for="Item.Token" />
<partial name="_EditTrainerTeam"/>
</body>
