@page
@model eSportSchool.Pages.AddressesPage
@using eSportSchool.Pages.Extensions

@{
    Layout = "_CreateEdit";
    ViewData["Title"] = "Create";
}

<body>
    @Html.MyEditorFor(m => m.Item.Id)
    <partial name="_EditAddress" />
</body>