@page
@model eSportSchool.Pages.AddressesPage

@{
    Layout = "_CreateEdit";
    ViewData["Title"] = "Edit";
}

<body>
<input type="hidden" asp-for="Item.Id"/>   
<partial name="_EditAddress"/>
</body>
