@model eSportSchool.Pages.Trainers.TrainersPage
@using eSportSchool.Pages.Extensions

<body>
    @Html.MyEditorFor(m => m.Trainer.FirstName)
    @Html.MyEditorFor(m => m.Trainer.LastName)
    @Html.MyEditorFor(m => m.Trainer.Gender)
    @Html.MyEditorFor(m => m.Trainer.DoB)
</body>
