@page
@model eSportSchool.Pages.Party.TrainersPage
@using eSportSchool.Pages.Extensions

@{
    Layout = "_Create";
}

<body>
    @Html.MyEditorFor(m => m.Item.Id)
    <partial name="_EditTrainer" />
</body>