@page
@model eSportSchool.Pages.Trainers.TrainersPage
@using eSportSchool.Pages.Extensions

@{
    Layout = "_CreateEdit";
    ViewData["Title"] = "Create";
}

<body>
    @Html.MyEditorFor(m => m.Item.Id)
    <partial name="_EditTrainer" />
</body>