@page
@model eSportSchool.Pages.Trainers.TrainersPage
@using eSportSchool.Pages.Extensions
@{
    Layout = "_Edit";
}

<body>
    @Html.MyEditorFor(m => m.Trainer.Id)
    <partial name="_EditTrainer" />
</body>
