@page
@model eSportSchool.Pages.Trainers.TrainersPage
@{
    Layout = "_CreateEdit";
    ViewData["Title"] = "Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id"/>   
    <partial name="_EditTrainer"/>
</body>