@page
@model eSportSchool.Pages.Party.TrainersPage
@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id"/> 
    <input type="hidden" asp-for="Item.ImgPath"/> 
    <partial name="_EditTrainer"/>
</body>