@page
@model eSportSchool.Pages.Party.KindOfSportsPage
@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id"/>   
    <input type="hidden" asp-for="Item.Token" />
    <partial name="_EditKindOfSport"/>
</body>