@model eSportSchool.Pages.SportTeams.SportTeamsPage
@using eSportSchool.Pages.Extensions

<body>
    @Html.MyEditorFor(m => m.SportTeam.Title)
    @Html.MyEditorFor(m => m.SportTeam.CreatedDate)
    @Html.MyEditorFor(m => m.SportTeam.Description)
</body>