@model eSportSchool.Pages.Party.SportTeamsPage
@using eSportSchool.Pages.Extensions

<body>
    @Html.MyEditorFor(m => m.Item.Title)
    @Html.MyEditorFor(m => m.Item.CreatedDate)
    @Html.MyEditorFor(m => m.Item.Description)
</body>