@page
@model eSportSchool.Pages.SportTeamsPage
@using eSportSchool.Pages.Extensions

@{
    Layout = "_CreateEdit";
    ViewData["Title"] = "Create";
}

<body>
    @Html.MyEditorFor(m => m.Item.Id)
    @Html.MyEditorFor(m => m.Item.OwnerId)
    <partial name="_EditSportTeam" />
</body>