@page
@model eSportSchool.Pages.SportTeams.SportTeamsPage
@using eSportSchool.Pages.Extensions

@{
    Layout = "_Create";
}

<body>
    @Html.MyEditorFor(m => m.SportTeam.Id)
    @Html.MyEditorFor(m => m.SportTeam.OwnerId)
    <partial name="_EditSportTeam" />
</body>