@page
@model eSportSchool.Pages.Party.SportTeamsPage
@using eSportSchool.Pages.Extensions

@{
    Layout = "_Create";
}

<body>
    @Html.MyEditorFor(m => m.Item.Id)
    @Html.MyEditorFor(m => m.Item.OwnerId)
    <partial name="_EditSportTeam" />
</body>