@page
@model eSportSchool.Pages.SportTeams.SportTeamsPage
@{
    Layout = "_CreateEdit";
    ViewData["Title"] = "Edit";
}

<body>
<input type="hidden" asp-for="SportTeam.Id"/>   
<partial name="_EditSportTeam"/>
</body>
