@page
@model eSportSchool.Pages.SportTeamsPage

@{
    Layout = "_CreateEdit";
    ViewData["Title"] = "Edit";
}

<body>
<input type="hidden" asp-for="Item.Id"/>   
<partial name="_EditSportTeam"/>
</body>
